@font-face {
  font-family: SweiGothicCJKtc-Regular;
  src: url(https://cdn.jsdelivr.net/gh/max32002/swei-gothic@2.129/WebFont/CJK%20TC/SweiGothicCJKtc-Regular.woff2) format("woff2")
  , url(https://cdn.jsdelivr.net/gh/max32002/swei-gothic@2.129/WebFont/CJK%20TC/SweiGothicCJKtc-Regular.woff) format("woff");
}
.maincontainer {
  width: 375px;
  display: flex;
  align-self: center;
  margin: 0;
}
/* General Styles */
/* RWD Container */
.container {
  width: 375px;
  height: 812px;
}

/* @media (min-width: 320px) {
  .container {
    width: 275px;
  }
}

@media (min-width: 375px) {
  .container {
    width: 330px;
  }
}

@media (min-width: 425px) {
  .container {
    width: 380px;
  }
} */


/* body */
body {
  font-size: 16px;
  line-height: 1.6;
  /* background-color: #FFFCFB; */
  
}


/* Layout */
/* .mainLayout {
  display: grid;
  min-height: 100vh;
  grid-template-areas: 
    'header'
    'content'
    'footer'
  ;
  grid-template-rows: auto 1fr auto;
  width: 375px;
}

.layoutHeader {
  grid-area: header;
  padding: 0;
  height: auto;
  line-height: 1.6;
  background-color: #4D6447;
}

.layoutFooter {
  grid-area: footer;
  padding: 0;
  height: auto;
  line-height: 1.6;
  background-color: #4D6447;
  width: 100%;
  margin: 0;
}

.layoutContent {
  grid-area: content;
} */





